.cards-grid {
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  list-style: none;
  padding: 26px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  column-gap: 17px;
  row-gap: 20px;
  justify-content: center;
}

@media (max-width: 375px) {
  .cards-grid {
    padding: 18px 0;
    grid-template-columns: repeat(auto-fill, minmax(282px, 282px));
  }
}
