.divider {
  position: absolute;
  background-color: #545454;
  opacity: 0.7;
  width: calc(100% - 54px);
  max-width: 880px;
  height: 1px;
  top: 118px;
  left: 50%;
  transform: translate(-50%);
}

@media (max-width: 450px) {
  .divider {
    width: 100%;
    top: 91px;
  }
}

@media (max-width: 375px) {
  .divider {
    top: 83px;
  }
}
