.header {
  margin: 0 auto;
  padding: 45px 0 41px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 450px) {
  .header {
    padding: 28px 0 30px;
  }
}

@media (max-width: 375px) {
  .header {
    width: calc(100% - 14px);
  }
}
