.form {
  padding: 34px 36px 40px;
  box-sizing: border-box;
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 2;
  border: 0;
}

@media (max-width: 768px) {
  .form {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .form {
    padding: 25px 22px;
    width: 282px;
  }
}
